body {
  background: #a0bcc2;
}

.App-header {
  text-align: center;
  font-size: 50px;
}

.App .footer {
  text-align: center;
  margin-bottom: 20px;
}

.App a {
  text-decoration: none;
}

.App a:hover {
  font-weight: 500;
  text-decoration: none;
}
