.Dictionary h3 {
  font-size: 35px;
}

.Dictionary section {
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  margin: 20px 0;
  padding: 30px;
}

.Dictionary input {
  width: 55%;
  padding: 6px 4px;
  border: 2px solid #ddd;
  border-radius: 5px;
  color: rgb(113, 143, 150);
  font-weight: bold;
  font-size: 20px;
}

.Dictionary .hint {
  font-size: 15px;
  margin-top: 5px;
}

.Dictionary .dictionary-search {
  text-align: center;
}
